<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio de sesión :)</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Ingresa tus datos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input type="email"></ion-input>
          <!--<ion-input type="email" [(ngModel)]="email"></ion-input>-->
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password"></ion-input>
          <!--<ion-input type="password" [(ngModel)]="password"></ion-input>-->
        </ion-item>
        <ion-button expand="block" fill="outline" id="click-login">Ingresar</ion-button>
        <!--<ion-button expand="block" (click)="login()">Ingresar</ion-button>-->
        <ion-popover trigger="click-login" triggerAction="click">
          <ng-template>
            <ion-content class="ion-padding">Inicio de sesión!</ion-content>
          </ng-template>
        </ion-popover>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
