<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bienvenido a la página de inicio!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Esta es la página de inicio de la aplicación.</p>
        <p>Para navegar a la página de inicio de sesión, haga clic en el tab de inicio de sesión en la parte inferior de la pantalla.</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>