<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="map-page">
      <ion-icon name="map"></ion-icon>
      Mapa
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      Configuración
    </ion-tab-button>
    <ion-tab-button tab="login">
      <ion-icon name="log-out"></ion-icon>
      Cerrar Sesión
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>